:root{
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --second-text-color: #fff;
    --background-button-color: #2196f3;
    --primery-background-color: #fff;
    --background-team-color: #f5f4fa;
    --logo-color: #000;
    --secondary-background-color: #2f303a;
}

body{
    padding: 0 215px;
    color: var(--primery-text-color);
    background: var(--primery-background-color);
}
/*header*/
.logo{
    color: var(--logo-color);
}
.blue{
    color: var(--background-button-color);
}
.site-list{
    color: var(--title-text-color);
}
/*PORTFOLIO*/
.portfolio-button{
    color: var(--title-text-color);
}
/*PRODUCTS*/
.products-name{
    font-size: 18px;
    color: var(--title-text-color);
}
.products-second-name{
    font-size: 16px;
    color: var(--primery-text-color);
}
/*FOOTER*/
.page-footer{
    background-color: var(--secondary-background-color);
}
.address{
    color: var(--second-text-color);
}
.address-text{
    color: var(--second-text-color);
}
.email{
    color: var(--second-text-color);
}