:root{
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --second-text-color: #fff;
    --background-button-color: #2196f3;
    --primery-background-color: #fff;
    --background-team-color: #f5f4fa;
    --logo-color: #000;
    --secondary-background-color: #2f303a;
}

body{
    padding: 0 215px;
    color: var(--primery-text-color);
    background: var(--primery-background-color);
}
/*header*/
.logo{
    color: var(--logo-color);
}
.blue{
    color: var(--background-button-color);
}
.site-list{
    color: var(--title-text-color);
}
/*post*/
.post{
    background: var(--secondary-background-color);
}
.post-title{
    color: var(--second-text-color);
}
.post-button{
    color: var(--second-text-color);
    background: var(--background-button-color);
    cursor: pointer;
}
/*BENEFITS*/
.benefits-name{
    color: var(--title-text-color);
    font-size: 14px;
}
.benefits-text{
    font-size: 14px;
}
/*activity*/
.section-title{
    color: var(--title-text-color);
    font-size: 36px;
}
/*TEAM*/
.team{
    background: var(--background-team-color);  
}
.team-list{
    background: var(--primery-background-color);
}
.team-photo{
    width: 270px;
    height: 260px;
}
.team-name{
    font-size: 16px;
    color: var(--title-text-color);
}
.team-position{
    font-size: var(--primery-text-color);
}
/*FOOTER*/
.address-text{
    color: var(--second-text-color);
}